/**
 * Programa - menu responsivo + modal popUp
 * 
 * Autor:Gustavo Barros
 * Licença: GNU
 * Data: 2024/04/11
 * Versão: v1.0
 */

 /******************************IMPORTANDO ARQUIVO EXTERNO ********/
@import url(reset.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
/***************************************************CRIANDO VARIAVEIS ******/
:root{
    /* Titulo*/
    --ff-primary: "Roboto", sans-serif;
    /*Qualquer outra coisa */
    --ff-secondary: "Open Sans", sans-serif;
    --fc-title:#49a6e9;
    --fc:#fff;
    --spacing:0.20rem;
    --radius:0.5rem;
    --max-width: 1170px;
    --transition: all 0.3s linear;
    --box-shadow:10px 5px 20px #489;
    --cw:#fff;
    --cb:black;
}

/****************************************************CSS Publico ***********/

body{
    
    font-family: var(--ff-secondary);
    color: var(--fc);
    line-height: 1.5;
    font-size:0.875rem;
    background: rgb(27, 2, 51);
}
a{text-decoration: none}
a, img{display:block}
h1,h2,h3,h4,h5,h6{
    font-family: var(--ff-primary);
    color: var(--fc-title);
    letter-spacing: var(--spacing);
}
.modal-bnt{
    margin-top: 2rem;
    background: #000;
    color: #fff;
    border-radius: var(-radius);
    text-align: center;
    width: 90vw;
    height: 45px;
    cursor: pointer;
}
.modal-bnt:hover{
    background: var(--fc);
    color: var(--fc-title);
}
.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--cb);
    display: grid;
    place-items: center;
    visibility: hidden;
    z-index: -10;
    transition: var(--transition);
}
.open-modal{
    visibility: visible;
    z-index: 10;
}
.modal-container{
    width: 70%;
    height: 30vh;
    max-width: var(--max-width);
    background: rgba(0,0,0.6);
    border-radius: var(--radius);
    display: grid;
    place-items: center;
    position: relative;
    box-shadow: var(--box-shadow);
}
.close-bnt{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    color: var(--cw);
    cursor: pointer;
}
.close-bnt:hover{
    color: var(--fc);
    transform: scale(1.3);
}
